#movie-result {
  background: rgb(34, 37, 236);
  border: 5px solid rgb(35, 211, 255);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(45, 113, 177);
  border: 5px solid rgb(16, 47, 150);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#flavor-result {
  background: rgb(178, 46, 255)
  border: 5px solid rgb(38, 112, 248)
  
}







hr {
  height: 5px;
  background-color: rgb(38, 112, 248);
}
