#movie-result {
  background: rgb(34, 37, 236);
  border: 5px solid rgb(35, 211, 255);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(100, 179, 253);
  border: 5px solid rgb(16, 47, 150);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: rgb(38, 112, 248);
}
